.navbarweb {
    position: fixed; 
    top: 10px; 
   
    margin-left: 2%;
    
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 25px; 
    padding: 3px 32rem; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto; 
    max-width: auto; 
    max-height: 90px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); 
    z-index: 1000; 
    backdrop-filter: blur(10px); 
    color: black;
  }